body{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
/* Menu */
    .menu ul{
        position: fixed;
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
    }

    .menu li{
        float: left;
    }

    .menu li a{
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .menu li:hover{
        background-color: rgba(48, 47, 47, 0.5);
    }

/* Menu */

/* DropDown */
.dropdown-btn{
    background-color: thistle;
    color: white;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow:  0px 4px 4px rgba(0,0,0, 0.2);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color:rgba(48, 47, 47, 0.5);
}

.dropdown:hover .dropdown-btn{
    background-color: aquamarine;
}

.dropdown:hover .dropdown-content{
    display: block;
}


/* DropDown */

/* Catalogo */
.catalogo{
    margin-top: 65px;
    max-width: 70%;
    display: flex;
    align-items:  center;
}

.wrapper {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); */

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

  }

/* Catalogo */

/* Producto */
.producto_box{
    border-style: solid;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.205);
    width: 400px;
    height: 500px;
    margin-bottom: 1%;
    overflow: hidden;
}

.producto{
    display: flex;
    flex-direction: column;
}

.producto div{
    padding: 4px;
}

.producto img{
    width:100%;
    max-height: 300px;
}

.producto.btn_compra{

    background-color: rgb(215, 218, 47);
    color:black;
    border-radius: 4px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.producto.btn_compra:hover{
    background-color: rgb(135, 138, 0);
}

/* Producto */

